Task 2: Подзапрос

Создайте соединение с базой данных с помощью библиотеки sqlite3.

In [2]:
import pandas as pd

In [3]:
from sqlite3 import connect

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
con = connect('/content/drive/MyDrive/School21/day11/data/checking-logs.sqlite')

Получите схему таблицы checker.

In [6]:
pd.read_sql('PRAGMA table_info(checker);', con)

   cid       name       type  notnull dflt_value  pk
0    0      index    INTEGER        0       None   0
1    1     status       TEXT        0       None   0
2    2    success    INTEGER        0       None   0
3    3  timestamp  TIMESTAMP        0       None   0
4    4  numTrials    INTEGER        0       None   0
5    5    labname       TEXT        0       None   0
6    6        uid       TEXT        0       None   0

Получите только первые 10 строк таблицы checker, чтобы проверить, как она выглядит.

In [7]:
pd.read_sql('SELECT * FROM pageviews LIMIT 10', con)

   index      uid                    datetime
0      0  admin_1  2020-04-17 12:01:08.463179
1      1  admin_1  2020-04-17 12:01:23.743946
2      2  admin_3  2020-04-17 12:17:39.287778
3      3  admin_3  2020-04-17 12:17:40.001768
4      4  admin_1  2020-04-17 12:27:30.646665
5      5  admin_1  2020-04-17 12:35:44.884757
6      6  admin_1  2020-04-17 12:35:52.735016
7      7  admin_3  2020-04-17 12:36:21.401412
8      8  admin_3  2020-04-17 12:36:22.023355
9      9  admin_1  2020-04-17 13:55:19.129243

Подсчитайте, сколько строк удовлетворяют следующим условиям, используя только один запрос с любым количеством подзапросов.
Подсчитайте количество строк из таблицы pageviews, но только с пользователями из таблицы checker, у которых:
status = 'ready' (мы не хотим анализировать логи со статусом checking);
numTrials = 1 (мы хотим проанализировать только первые коммиты, поскольку только они информируют о том, когда студент начал работать над лабораторным заданием);
названия лабораторных заданий должны быть только из следующего списка: laba04, laba04s, laba05, laba06, laba06s, project1. Только они были активными во время проведения эксперимента.
Сохраните их в датафрейме checkers в столбце cnt. Датафрейм будет представлять собой только одну ячейку.

In [8]:
heckers = pd.read_sql('''
    SELECT count() as cnt FROM pageviews as p WHERE
    p.uid in
    (SELECT uid FROM checker
    WHERE
        status = 'ready' and
        numTrials = 1 and
        labname in ('laba04', 'laba04s', 'laba05', 'laba06', 'laba06s',
        'project1')
    )
''', con)

Закройте соединение.

In [9]:
con.close()

In [10]:
heckers

   cnt
0  985