Task 2: основные операции
Мы уверены: вы хорошо понимаете, что функциональные возможности библиотеки Pandas этим не ограничиваются. Давайте узнаем побольше о том, для решения каких еще задач можно использовать эту библиотеку.

В этом упражнении вы будете работать с тем же самым логом посещения пользователей страницы, включая их временные метки.

Создайте датафрейм под названием views с двумя столбцами datetime и user, считав тот же самый файл feed-views.log.

Преобразуйте datetime в datetime64[ns] Dtype;
извлеките год, месяц, день, час, минуты и секунды из значений этого столбца в новые столбцы.
Создайте новый столбец daytime.

Переведите время в название части суток: если значение часа находится в рамках определенного интервала. Например, afternoon, если значение часа больше 11 и меньше или равно 17;
0:00–03:59 — night, 04:00–06:59 — early morning, 07:00–10:59 — morning, 11:00–16:59 — afternoon, 17:00–19:59 — early evening, 20:00–23:59 — evening.
используйте метод cut для решения этой подзадачи;
назначьте столбец user в качестве индекса.
Подсчитайте количество элементов в вашем датафрейме.

Используйте метод count();
подсчитайте количество элементов в каждой категории частей суток, используя метод value_counts().
Отсортируйте значения в вашем датафрейме по часам, минутам и секундам в порядке возрастания (в рамках одной команды, а не по очереди).

Рассчитайте минимальное и максимальное значения среди значений часов и моду для категорий частей суток.

Рассчитайте максимальное значение среди значений часов для строк, в которых время суток — night;
рассчитайте минимальное значение среди значений часов для строк, в которых время суток — morning;
в дополнение к этому, выясните, кто посещал страницу в эти часы (подготовьте один пример пользователя);
рассчитайте моду для hour и daytime.
Отобразите 3 самых ранних часа утром вместе с соответствующими именами пользователей, а также 3 самых поздних часа и имена пользователей с помощью nsmallest() и nlargest().

Используйте метод describe(), чтобы получить базовую статистику по столбцам.

Дополнительно определите самый популярный интервал посещения страницы: вычислите интерквартильный диапазон для часа путем извлечения значений из результата метода describe() и сохраните полученные данные в переменной iqr.

In [20]:
import pandas as pd
import numpy as np

In [21]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [22]:
views = pd.read_csv(
    '/content/drive/MyDrive/School21/day10/feed-views.log',
    sep='\t',
    engine='python', 
    header=None, 
    names = ['datetime', 'user'], 
    )
views

                        datetime       user
0     2020-04-17 12:01:08.463179      artem
1     2020-04-17 12:01:23.743946      artem
2     2020-04-17 12:27:30.646665      artem
3     2020-04-17 12:35:44.884757      artem
4     2020-04-17 12:35:52.735016      artem
...                          ...        ...
1071  2020-05-21 18:45:20.441142  valentina
1072  2020-05-21 23:03:06.457819      maxim
1073  2020-05-21 23:23:49.995349      pavel
1074  2020-05-21 23:49:22.386789      artem
1075  2020-05-22 10:36:14.662600      artem

[1076 rows x 2 columns]

In [23]:
views.dtypes

datetime    object
user        object
dtype: object

In [24]:
views = views.astype({'datetime': 'datetime64[ns]'})

In [25]:
views.dtypes

datetime    datetime64[ns]
user                object
dtype: object

In [26]:
views['year'] = views.datetime.dt.year
views['month'] = views.datetime.dt.month
views['day'] = views.datetime.dt.day
views['hour'] = views.datetime.dt.hour
views['minute'] = views.datetime.dt.minute
views['second'] = views.datetime.dt.second
views

,datetime,user,year,month,day,hour,minute,second
0,2020-04-17 12:01:08.463179,artem,2020,4,17,12,1,8
1,2020-04-17 12:01:23.743946,artem,2020,4,17,12,1,23
2,2020-04-17 12:27:30.646665,artem,2020,4,17,12,27,30
3,2020-04-17 12:35:44.884757,artem,2020,4,17,12,35,44
4,2020-04-17 12:35:52.735016,artem,2020,4,17,12,35,52
...,...,...,...,...,...,...,...,...
1071,2020-05-21 18:45:20.441142,valentina,2020,5,21,18,45,20
1072,2020-05-21 23:03:06.457819,maxim,2020,5,21,23,3,6
1073,2020-05-21 23:23:49.995349,pavel,2020,5,21,23,23,49
1074,2020-05-21 23:49:22.386789,artem,2020,5,21,23,49,22
1075,2020-05-22 10:36:14.662600,artem,2020,5,22,10,36,14

In [27]:
views['daytime'] = pd.cut(views.hour,
       bins=[0, 4, 7, 11, 17, 20, 24],
       labels=['night', 'early morning', 'morning', 'afternoon', 'early evening', 'evening'],
      right=False)

In [28]:
views

,datetime,user,year,month,day,hour,minute,second,daytime
0,2020-04-17 12:01:08.463179,artem,2020,4,17,12,1,8,afternoon
1,2020-04-17 12:01:23.743946,artem,2020,4,17,12,1,23,afternoon
2,2020-04-17 12:27:30.646665,artem,2020,4,17,12,27,30,afternoon
3,2020-04-17 12:35:44.884757,artem,2020,4,17,12,35,44,afternoon
4,2020-04-17 12:35:52.735016,artem,2020,4,17,12,35,52,afternoon
...,...,...,...,...,...,...,...,...,...
1071,2020-05-21 18:45:20.441142,valentina,2020,5,21,18,45,20,early evening
1072,2020-05-21 23:03:06.457819,maxim,2020,5,21,23,3,6,evening
1073,2020-05-21 23:23:49.995349,pavel,2020,5,21,23,23,49,evening
1074,2020-05-21 23:49:22.386789,artem,2020,5,21,23,49,22,evening
1075,2020-05-22 10:36:14.662600,artem,2020,5,22,10,36,14,morning

In [29]:
views.set_index('user', drop=True, inplace=True); views

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
artem,2020-04-17 12:01:08.463179,2020,4,17,12,1,8,afternoon
artem,2020-04-17 12:01:23.743946,2020,4,17,12,1,23,afternoon
artem,2020-04-17 12:27:30.646665,2020,4,17,12,27,30,afternoon
artem,2020-04-17 12:35:44.884757,2020,4,17,12,35,44,afternoon
artem,2020-04-17 12:35:52.735016,2020,4,17,12,35,52,afternoon
...,...,...,...,...,...,...,...,...
valentina,2020-05-21 18:45:20.441142,2020,5,21,18,45,20,early evening
maxim,2020-05-21 23:03:06.457819,2020,5,21,23,3,6,evening
pavel,2020-05-21 23:23:49.995349,2020,5,21,23,23,49,evening
artem,2020-05-21 23:49:22.386789,2020,5,21,23,49,22,evening
artem,2020-05-22 10:36:14.662600,2020,5,22,10,36,14,morning

In [30]:
views.count(axis='rows')

datetime    1076
year        1076
month       1076
day         1076
hour        1076
minute      1076
second      1076
daytime     1076
dtype: int64

In [31]:
views.daytime.value_counts()

evening          509
afternoon        252
early evening    145
night            129
morning           36
early morning      5
Name: daytime, dtype: int64

In [32]:
views.sort_values(by=['hour', 'minute', 'second'], inplace=True); views

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
valentina,2020-05-15 00:00:13.222265,2020,5,15,0,0,13,night
valentina,2020-05-15 00:01:05.153738,2020,5,15,0,1,5,night
pavel,2020-05-12 00:01:27.764025,2020,5,12,0,1,27,night
pavel,2020-05-12 00:01:38.444917,2020,5,12,0,1,38,night
pavel,2020-05-12 00:01:55.395042,2020,5,12,0,1,55,night
...,...,...,...,...,...,...,...,...
artem,2020-05-21 23:49:22.386789,2020,5,21,23,49,22,evening
anatoliy,2020-05-09 23:53:55.599821,2020,5,9,23,53,55,evening
pavel,2020-05-09 23:54:54.260791,2020,5,9,23,54,54,evening
valentina,2020-05-14 23:58:56.754866,2020,5,14,23,58,56,evening
alexander,2020-05-14 23:59:38.758438,2020,5,14,23,59,38,evening

ПРОВЕРКА

In [33]:
views.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1076 entries, valentina to alexander
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  1076 non-null   datetime64[ns]
 1   year      1076 non-null   int64
 2   month     1076 non-null   int64
 3   day       1076 non-null   int64
 4   hour      1076 non-null   int64
 5   minute    1076 non-null   int64
 6   second    1076 non-null   int64
 7   daytime   1076 non-null   category
dtypes: category(1), datetime64[ns](1), int64(6)
memory usage: 68.5+ KB

In [34]:
views.count()

datetime    1076
year        1076
month       1076
day         1076
hour        1076
minute      1076
second      1076
daytime     1076
dtype: int64

In [35]:
views.daytime.value_counts()

evening          509
afternoon        252
early evening    145
night            129
morning           36
early morning      5
Name: daytime, dtype: int64

In [37]:
views.loc[views.daytime == 'night'].hour.idxmax()

'konstantin'

In [38]:
views.loc[views.daytime == 'morning'].hour.idxmin()

'alexander'

In [39]:
views.hour.mode() #рассчитайте моду для hour

0    22
dtype: int64

In [40]:
views.daytime.mode() #рассчитайте моду для hour

0    evening
Name: daytime, dtype: category
Categories (6, object): ['night' < 'early morning' < 'morning' < 'afternoon' < 'early evening' <
                         'evening']

In [41]:
iqr = views.describe().loc['75%','hour'] - views.describe().loc['25%','hour'] #вычисляем интерквартильный диапазон для часа путем извлечения значений из результата метода describe() и сохраняем полученные данные в переменной iqr.
iqr

9.0